.comment{
    display: flex;
    justify-content: left;
    align-content: baseline;
    align-items: baseline;
    align-content: baseline;
}
.comment{
    margin: 0;
}
.userName{
    font-weight: 600;
    margin-right: 10px;
}

.add-comment{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100%;
}
.add-comment input{
    margin-right: 8px;
}
.icons{ 
    display: flex;
    justify-content:left;
    
}
.icons i{
    margin-right: 1em;
    
    cursor:pointer;
}

.like{
    font-weight: 600;
    display: flex;
    justify-self: left;
   
}
.like-button{
    color:#ED4956;
}