.comment{
    display: flex;
    justify-content: left;
    
}
.userName{
    font-weight: 600;
    margin-right: 10px;
}

.add-comment{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100%;
}
.icons{ 
    display: flex;
    justify-content:left;
    
}
.icons i{
    margin-right: 1em;
    
    cursor:pointer;
}

.like{
    font-weight: 600;
    display: flex;
    justify-self: left;
   
}
.like-button{
    color:#ED4956;
}